@using MyDrawingJourney.ViewModels.Home
@model ForumPostAddFormModel

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Posts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
 
 
 .post-body{
	 font-family: "Lucida Console", "Courier New", monospace;
	 font-size: 30px;
	 margin-bottom: 50px;
 }
 .container {
  position: relative;
}

.center {
	font-family:"Times New Roman", Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.5;
  margin-bottom: 50px;
}
  </style>
</head>
<body>
   
    <div class = "container">
       <img src="~/img/blogposts/blog.jpg" alt="Blog" width="1000" height="300">
  
		<h2 class = "center">@Model.Title</h2>
	</div>

	<div class= "post-body">
		<p>@Model.Content</p>

	</div>
	</body>
	
</html>
