@{
    ViewData["Title"] = "Others";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sketch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
 p{
       font-family: "Lucida Console", "Courier New", monospace;
    }
   h1, h3{
       font-family:"Times New Roman", Times, serif;
   }
   .first-row img{
       width:35%;
   }
  .sketch{
      display:flex;
     flex-direction:column;
      justify-content:space-between;
  }
  .first-row{
      display:flex;
     flex-direction:row;
     justify-content:space-around;
     
  }
   .second-row{
      display:flex;
     flex-direction:row;
      justify-content:space-around;
      
  }
  .second-row img{
      width:20%;
  }
   .third-row{
      display:flex;
     flex-direction:row;
      justify-content:space-around;
      
  }
  .third-row img{
      width : 20%;
  }
  </style>
</head>
<body>

    <div class="container-fluid text-center"> 
      <h1>Other mediums</h1>
      <p>
         Other mediums I tried are acrylic, markers, and a little bit of oil.
      </p>
      <hr>
      <h3>The acrylic paintings</h3>
      <p>Here are some of my acrylic paintings. 
      </p>
      <hr>
      
      <div class = "sketch">
          <div class = "first-row">
      <img src="~/img/acrylicnmarker/treeacrylic.jpg" class="img-rounded" alt="First drawing">
      <img src="~/img/acrylicnmarker/landscape.jpg" class="img-rounded" alt="img">
      <img src="~/img/acrylicnmarker/acrilyc.jpg" class="img-rounded" alt="img">
     
      </div><hr>
      <h3>The markers paintings</h3>
      <p>I have a lot of fun with markers. I draw random objects or manga.Here are some of my marker drawings. 
      </p>
      <hr>

      <div class = "second-row">
       <img src="~/img/acrylicnmarker/markerscakes.jpg" class="img-rounded" alt="First drawing">
      <img src="~/img/acrylicnmarker/markerscoffee.jpg" class="img-rounded" alt="img">
      <img src="~/img/acrylicnmarker/markers.jpg" class="img-rounded" alt="img">
      <img src="~/img/acrylicnmarker/markerstwo.jpg" class="img-rounded" alt="img">
      </div><hr>
          <div class = "third-row">
       <img src="~/img/acrylicnmarker/witchmarkers.jpg" class="img-rounded" alt="First drawing">
      <img src="~/img/acrylicnmarker/mangamarkers.jpg" class="img-rounded" alt="img">
      <img src="~/img/acrylicnmarker/mangamarkersboy.jpg" class="img-rounded" alt="img">
  
      </div>
      </div>
      
    </div>
    <hr>
    

</body>
</html>
