@using static MyDrawingJourney.Common.GeneralApplicationConstants;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Drawing Journey</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyDrawingJourney.styles.css" asp-append-version="true" />
<style>
    footer{
        
      background-color: #555;
      color: white;
      padding: 15px;
      margin-top:20px;
      justify-content:space-around;
    }
   footer ion-icon{
       width:40px;
   }
    #nav{
      background-color: lightblue;      
      color: white;
      padding: 15px;
    }
    
</style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Blog" asp-action="Index">MyDrawingJourney</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id = "nav" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Index">How it all began</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Sketch">Sketches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Watercolor">Watercolors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Gouache">Gouache</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Others">Other mediums</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Posts">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Edit">Create Post

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Programming" asp-action="Programming">Programming journey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Games" asp-action="Games">My Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Forum" asp-action="All">Forum</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="About">About me</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="ContactMail">Contacts</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            
        </main>
      
    </div>

    <footer class="container-fluid">
        <div class="container">
            &copy; 2023 - MyDrawingJourney @ReleaseYear
            @if(DateTime.UtcNow.Year != ReleaseYear){
                @Html.Raw($" - {DateTime.UtcNow.Year}");
            }
             <a href="https://instagram.com/simona1ll" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
            </a>
            
        </div>
       
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
