@{
    ViewData["Title"] = "My Games";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    
    p{
       font-family: "Lucida Console", "Courier New", monospace;
    }
   h1, h3{
       font-family:"Times New Roman", Times, serif;
   }
  div{
      margin-bottom: 50px;
  }
  </style>
</head>
<body>
     
 

    <div class="container-fluid text-center"> 
      <h1>Fun games to play</h1>
      </div>
      <div class ="info">
          <h3>To check the games I developed in C#, please visit my github profile: 
              <a href="https://github.com/moncho95">github profile.</a>
          </h3>
    
      </div>
      <div>
      <h1>Play tic-tac-toe writen in JavaScript:
     <form method="post" action="Tictac">       
        <input type="submit" value="Play">
    </form>
     </div><div>
      <h1>Draw something on the paint app writen in JavaScript:
     <form method="post" action="Paint">       
        <input type="submit" value="Play">
    </form>
     </div>
      </body>
      </html>
